
  <!-- <div class="container_grd">
  <hr  class="hr hrWert">
</div> -->
<!-- <p class=" becMar skills i_1" style="position: fixed; left: 250px; top: 29px; z-index: 100;">i</p>
<p class=" becMar skills i_2" style="position: fixed; left: 699px; top: 29px; z-index: 100;">I</p>
<p class=" becMar skills i_3" style="position: fixed; left: 1190px; top: 29px; z-index: 100;">i</p> --> 
<!-- <img src="" alt=""> -->
<!-- <div class="container"></div> -->

 
@media screen and (max-width: 1200px) {
  /* .container_grid, .abautmeSection {
    max-width: 960px;
    background-color: rgb(0, 183, 46);
  } */
  body {
    max-width: 960px;
    background-color: rgb(0, 183, 46);
    margin: 0px 0px 0px 0px;
  }
  .chekBksMini {
    display: none;
  } 
  .menu {
    /* grid-template-columns: repeat(5, minmax(200, 210px) ); */
  }
  .sectionHome {
    /* grid-template-columns: repeat(5, minmax(auto, 210px) ); */
  }

  /* .hr {
    width: 89%;
    margin-left: -7px;
  } */
  .aboutMe{
    background-color: rgb(31, 157, 20);
  }
} 



 @media screen and (max-width: 991px) {
  body {
    max-width: 960px;
    background-color: rgb(206, 242, 0);

  }
  /* .container_grid {
    max-width: 720px;
  } */
  .chekBksMini {
    display: block;
  } 

  .menu {
    display: grid;
    grid-template-columns: repeat(5, minmax(auto, 190px));
  }
  .aboutMe{
    background-color: red;
  }

  .hamburger {
    display: block;
    position: fixed;
    width: 230px;
    right: -189px;
    top: 20px;
    z-index: 200;

    position: fixed;
    margin-left: auto;
    margin-right: 0;
  }
  /* меню бргера  */
  .menu {
  display: flex;
  position: fixed;  
  top: 0px;
  right: 0px;
  display: none; 
  width: 50%;
  height: 100vh;
  padding: 20px 15px;
  flex-direction: column;
  background-color: black;
  opacity: 0.8; 
  z-index: 90;
  line-height:normal;
  transition: 0.9s all;
  margin: 0px 0px 0px 127px;
  
}
.menu_item {
  padding-right: 0;
  border: none;
  flex-direction: column;
  z-index: 100;
  
}
.menu link {
 font-size: 20px;
 width: 100%;
}

/* .gridmenu{
 
  display: grid;
  grid-template-columns: minmax(100px, auto);
  grid-template-rows: repeat(6, minmax(auto, auto));

} */
.hr {
  display: none;
}
.menu_active {
  display: block;
  display: grid;
  grid-template-columns: minmax(100px, auto);
  grid-template-rows:  repeat(auto-fill, minmax(43px, auto)); 

}
.burgerPassivSpan{
  background-color:black;
}
.burgerActiveSpan {
  background-color: white;
}
.hamburger span {
  display: block;
  height: 2px;
  width: 20px;
  margin-top: 2px; 
}
.burgerActive {
  display: block;
}
.span1 {
  transform: rotate(45deg);
  margin-bottom: -4px;
}
.span2 {
transform: rotate(-45deg);
margin-bottom: -2px;
}
.aboutMe{
  background-color: rgb(130, 0, 211);
}

.nameDenisDiv {
  grid-row-start: 1;
  grid-row-end: 3;
  justify-content: center;
  justify-self: center;
  /* position: relative; */
  /* left: 75px; */
  font-family: 'Gilroy-Medium';
  /* font-size: 18px;
  line-height: 22px; */
  /* top: 3.85%; */
  bottom: 95.22%;
  line-height: 40px;
  font-size: 43px;
  margin: 1px 1px 1px 1px;
}

.uiux {
  font-size: 15px;
}
.chekBks {
  font-size: 15px;
}
} 

@media screen and (max-width: 768px) {
  /* .container_grid, .abautmeSection{
    max-width: 540px;
    background-color: rgb(58, 120, 120);
  } */
  body {
    max-width: 960px;
    background-color: rgb(203, 116, 9);
  }
  .nameDenisDiv {
    grid-row-end: 2;
    position: unset;
  }
  .sectionHome {
    grid-template-columns: 100px;
    margin: 25px 0px 0px 0px;
  }
  .chekBks {
    display: none;
  }
  .uiuxDiv {
    grid-column-start: 1;
    grid-row-start: 2;
  }
}

/* .sectionHome {
  grid-template-columns: minmax(100px,155px) repeat(3, minmax(21px, 35px) );
  grid-template-rows: repeat(2, minmax(90px, 100px));
  grid-auto-rows: 1fr;
  background-color: red;
  align-items: center;
  justify-content: unset;
  margin: 25px 0px 0px 123px;
} */
/* @media screen and (max-width: 768px) {
  .container_grid {
    max-width: 540px;
  }

  .chekBksDiv {
    display: none;
  }
  .sectionHome {
    grid-template-columns: minmax(103px,147px) repeat(3, minmax(44px, 115px) );
    grid-template-rows: repeat(2, minmax(90px, 100px));
    grid-auto-rows: 1fr;
  
    align-items: center;
    justify-content: center;
    margin: 25px 0px 0px 94px;
}
  

  .nameDenisDiv {
    grid-row-end: 2;
    position: unset;
    left: 75px; 
    
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    line-height: 40px;
    font-size: 48px;

  }  

  .uiuxDiv {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  
  .uiux{
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
   
    color: #070707;
  }

  .photoDen {
    display: grid;
    justify-content: center;

    
    grid-template-columns: minmax(219px, 516px);
    grid-template-rows:  minmax(100px, 116px);

    margin: 25px 0px 0px 129px;
  }


  .photoDe {
    grid-column-start: 1;
    grid-row-start: 1;
  
  }
  .nameDenis {
    background-color: coral;
  }
} */

/* @media screen and (max-width: 660px) {
  .container_grid {
    max-width: 540px;
  }

  .chekBksDiv {
    display: none;
  }
  .sectionHome {
    grid-template-columns: minmax(100px,155px) repeat(3, minmax(21px, 35px) );
    grid-template-rows: repeat(2, minmax(90px, 100px));
    grid-auto-rows: 1fr;
    align-items: center;
    justify-content: unset;
    margin: 25px 0px 0px 123px;
}
  

  .nameDenisDiv {
    grid-row-end: 2;
    position: unset;
    
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    line-height: 40px;
    font-size: 48px;

 
  }  

  .uiuxDiv {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  
  .uiux{
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    color: #070707;
  }

  .photoDen {
    display: grid;
    justify-content: center;

    
  grid-template-columns: minmax(327px, 540px);
  grid-template-rows:  minmax(100px, 116px);

    margin: 25px 10px 0px 100px;
  }


  .photoDe {
    grid-column-start: 1;
    grid-row-start: 1;
  
  }

  .nameDenis {
    background-color: rgb(186, 53, 53);
  }
}  */

  /* @media screen and (max-width: 384px) {
  .container_grid {
    width: 100%;
    padding: 0 10px;
  }
  .aboutMe{
    white-space: nowrap;
    background-color: tomato;
  }
  .sectionHome {
    grid-template-columns: minmax(70px, 144px);
    margin: 25px 0px 0px 61px;
    gap: 10px;
  }

  .uiux {
    font-size: 18px;
    line-height: 22px;
  }

  .nameDenisDiv {
    font-size: 47px;
    line-height: 58px;

  }
  .photoDen {
    grid-template-columns: minmax(70px, 96px);
    margin: 25px 14px 1px 15px;
    position: relative;
    left: 47px;
}
 
  .aboutMe{
    background-color: rgb(233, 226, 0);
  } 


  .abautmeSection {
    
  }

}   */


.photoDen {
  /* display: grid; */
  /* justify-content: center; */
 
  /* grid-template-columns: minmax(70px, 96px); */
 
  /* grid-template-rows: minmax(100px, 116px); */
 
  /* margin: 25px 14px 1px 15px;
  position: relative;
  left: 47px; */
}
 /* .photoDen {
    display: none;
  } */

  /* .chekBksMini {
    display: block;
  } 
  .menu {
    display: grid;
    grid-template-columns: repeat();
    margin-top: 0px;
  }*/

/*--- 631 - 632 - 844 --845 -1090 -1091 -1320  */























/* body {
  position: absolute;
  width: 1366px;
  height: 4269px;
  left: 0px;
  top: 0px;
  background:#FFFFFF;
  overflow-x: hidden;
} */
/* .becMar {
  position: absolute;
  right: 49.15%;
  top: 0.69%;
  bottom: 98.82%;
  font-family: 'Gilroy-Bold';
  font-size: 18px;
  line-height: 22px;
} */

/* btn */
/*
{
  position: relative; 
    background: #4F2D69;
    border: none;
    color: #ffffff;
    border-radius: 3px;
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 34px;
    padding: 5px 25px;
    margin: 0 auto;
    display: inline-block;
    color: black;
    font-size: 20px;
    font-family: helvetica;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 20px;
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    background-color: white;
}*/

/* .photoDe{
  grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    /* justify-items: center; 
    align-items: center; 

      justify-content: center; 
     justify-self: center; 
} */
/* 
.aboutMas {
  
} */
/*
.homePage {
  /* position: absolute;
  left: 17.44%;
  right: 79.15%;
  top: 5.69%;
  bottom: 98.82%;
  font-family: 'Gilroy-Bold';
  font-size: 18px;
  line-height: 22px;
  color: #070707; 

  left: 266px;
  color: #070707; 
}
/* 
.aboutMe {
  left: 32.62%;
  color: #828282;
  
}


.aboutMas {
  position: relative;
  left: 637px;
  top: 75px;
  color: #000000;
}


.skills {

left: 680px;

color: #828282;
}

.portfolio {

  left: 897px;
 
  color: #828282;
  
}

.contacts {
  scroll-behavior: smooth;
  left: 1116.4px;
  line-height: 22px;
  color: #828282;
} */

/* .hr {
  position: absolute;
  width: 940.6px;
  height: 0px;
  left: 250.69px;
  top: 50.94px;

  border: 1px solid #828282;
  transform: matrix(1, 0, 0, 1, 0, 0);
} */



/* .nameDenis {
  position: absolute;
  left: 18.37%;
  right: 74.08%;
  top: 75px;
  bottom: 94.82%;
  font-family: 'Gilroy-Bold';
  font-size: 47.3392px;
  line-height: 59px;
  color: #070707;
}

.uiux {
  position: absolute;
  left: 46.49%;
  right: 42.74%;
  top: 139.85px;
  bottom: 95.22%;
  font-family: 'Gilroy-Medium';
  font-size: 18px;
  line-height: 22px;
  color: #070707;
}

.chekBks {
   position: absolute;
    left: 801px;
    right: -200.49px;
    top: -215px;
    /* bottom: 0px; */
    /* font-family: 'Gilroy-Bold';
    font-size: 16px;
    line-height: 20px;
    color: #828282;
    transform: rotate(270deg);  
  /*transform-origin: left;
  margin-left: -9rem;  */
/* } 
chekBksMini{
  display: none;
}

/* .photoDen {
  position: absolute;
  width: 941.61px;
  height: 387px;
  left: 250px;
  top: 224px;
} */

 

/* .olenPup  */

/* .infoParens {
  margin: 0 auto;
  position: absolute;
  width: 429.34px;
  height: 218px;
  left: 480.33px;
  top: 178px;
  font-family: 'Gilroy-Medium';
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;

} */



/* .hed2 > h2 {
  position: relative;
  position: absolute;
  left: 655.8px;
  right: 45.59%;
  top: 15.68%;
  bottom: 70.77%;
  
  font-family: 'Gilroy-Bold';
  font-size: 34px;
  line-height: 42px;
  text-align: center;

  color: #070707;
} */

/* .skilprog {
  
position: absolute;
left: 79px;
right: 42.04px;
top: 30.68%;
bottom: 68.81%;

font-family: 'Gilroy-Medium';
font-size: 18px;
line-height: 22px;
text-align: center;


color: #070707;
}

.photo {
  position: absolute;
  top: 53%;
  bottom: 65.3%;
  
}

.adobePhoto {
  left: 275.2px;
  right: 73.73%;
  
  background: radial-gradient(75.99% 75.64% at 32.94% 22.44%, rgba(52, 54, 78, 0.98) 0%, #0C0824 100%);
}

.HeadNamePhoto {
  
position: absolute;
top: 98.29px;
bottom: 64.14%;

font-family: 'Gilroy-Bold';
font-size: 19px;
line-height: 25px;
text-align: center;

color: #828282;

}
.controlAllPhoto{
  left: 6px;
}
.photoshopTitle {
  left: 358.99px;
  right: 74.15%;
  margin-inline-start: -80px;
}

.illusStar{
  left: 201px;
}
.star {
  
  position: absolute;
  top: 85.29px;
  bottom: 64.14%;
}
illu
.activeStar {
  background: #ffffff;
  border-radius: 1px;  
}
.star .s0 {
  left: 307.99px;
  right: 74.15%;
}

.star .s1 {
  left: 274.99px;
  right: 74.15%;
}

.star .s2 {
  left: 241.99px;
  right: 74.15%;
}

.star .s3 {
  left: 340.99px;
  right: 74.15%;
}

.star .s4 {
  left: 373.99px;
  right: 74.15%;
}

.AdobeIllu {
left: 475.2px;
right: 4.19%;
top: 53%;
background: radial-gradient(76% 75.63% at 32.97% 22.44%, rgba(66, 51, 37, 0.98) 0%, #1C0A00 100%);
}

.adoillu {
  left: 602.99px;
  right: 74.15%;
  margin-inline-start: -165px;
}

.adAterEff {
left: 645px;
right: 0%;

background: radial-gradient(76% 75.63% at 32.97% 22.42%, rgba(68, 47, 85, 0.98) 0%, #12002C 100%);
}

.afterEfectTitle {
  left: 772px;
  right: 50px;

  margin-block-start: 1px;
  margin-block-end: 1px;
  margin-inline-start: -165px;
  margin-inline-end: 0px;
}
.aftereff {
  left:  377px;
}
.Figma {
  left: 825px;
}
.FigmaStar {
  left: 545px;
} */
/* 
.portfolioBloc {
  position: absolute;
  width: 1445px;
  height: 2253px;
  left: 0px;
  top: 1736px;

  background: #F6F6F6;
}

.portfolioTitle {
  
position: absolute;
left: 608px;
right: 45.21%;
top: 41.96px;
bottom: 57.13%;

font-family: 'Gilroy-Bold';
font-size: 34px;
line-height: 42px;
text-align: center;

Black 

color: #070707;

}

.photoAll{
  position: absolute;
  width: 936.24px;
  height: 510px;
  left: 255.71px;
  
}

.photoTopSliz {
top: 175px;
}


.titlePhotoPart{
  
position: absolute;
left: 552px;
right: 40.1%;
top: 700px; 
bottom: 44.02%;

font-family: 'Gilroy-Medium';
font-size: 18px;
line-height: 22px;
text-align: center;
text-decoration-line: underline;
color: #070707;

}
.titleHomePage {
  top: 700px;
}

.titlleReebok {
  top: 1320px;
}

.photoTopReebokSt {
top: 800px;
display: none; 
}



.photoBraun {
  top: 1400px;
  
  
  
   display: none;
}

.titlReebBraun {
  top: 1934px;
}
 */
/* 
footer {
  
position: absolute;
width: 1445px;
height: 359px;
left: 0px;
top: 3850px;

background: #FFFFFF;
}

.contactTitle {
  
position: absolute;
left: -23px;
right: 45.03%;
top: 30px;
bottom: 9.76%;

font-family: 'Gilroy-Bold';
font-size: 34px;
line-height: 42px;
text-align: center;
position: relative;


color: #070707;

}

.contactP {
  position: absolute;
  left: 582px;
  right: 45.03%;
  top: 93px;
  bottom: 8.42%;

  font-family: 'Gilroy-Medium';
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  white-space: nowrap;
  color: #070707;
}

.contactPe {
  position: absolute;
  left: 607px;
  right: 45.03%;
  top: 123px;
  bottom: 8.42%;

  font-family: 'Gilroy-Medium';
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  white-space: nowrap;
  color: #070707;
} */
/* 
.pupert {
position: absolute;
width: 342.18px;
height: 40.92px;
left: 534px;
top: 326.78px;
}

.padding12 {
  padding: 20px;
}

.container {
  margin: 0;
  box-sizing: border-box;
  min-width: 1200px;
  background-color: burlywood;
  padding: 10px;
  margin: 0 auto;
  min-height: 100vh;
}

ul li::marker {
  list-style-type: none;
}
.i_1, .i_2, .i_3 {
  display: none;
}
.photoDenmini {
  display: none;
} */







/* media ipad */

@media screen and (min-width: 4765px) {
    body {
      position: absolute;
      width: 765px;
      height: 4435px;
      left: 0px;
      top: 0px;
  
      background: #da2424;
    }
    .container {
      background-color: green;
    }
    .hamburger {
      display: block;
      position: fixed;
      width: 230px;
      /* left: 355px; */
      right: -189px;
      top: 20px;
      z-index: 200;
  
      /* right: 0px; */
      position: fixed;
      margin-left: auto;
      margin-right: 0;
    }
    /* .hamburger_active {
      
    } */
    .i_2 {
      display: block;
      list-style-type: none;
      /* left: 76px;
      top: 3px; */
      position: absolute;
      background-color: red;
      z-index: 100;
      color: white;
      left: 6.93%;
      right: 53.33%;
      top: 50px;
      font-size: 34px;
      line-height: 42px;
    }
    /* вертикальная линия */
    .hrWert{
      transform: rotate(90deg);
      display: none;  
      left: 0px;
      z-index: 101;    
    }
    /* ссылки на страницу*/
   .homePage {
    list-style-type: none;
    /* left: 76px;
    top: 3px; */
    position: absolute;
    /* background-color: red; */
    z-index: 100;
    color: white;
    left: 6.93%;
    right: 53.33%;
    top: 50px;
    font-size: 34px;
    line-height: 42px;
  }
    /* #men {
      list-style-type: none;
      left: -248px;
      position: relative;
      background-color: red;
      z-index: 100;
  } */
    /* } */
  .aboutMe {
      list-style-type: none;
      position: absolute;
      left: 6.93px;
      right: 26.67%;
      top: 111px;
      bottom: 77.83%;
      
      font-family: 'Gilroy-Bold';
      font-size: 34px;
      line-height: 42px;
      /* background-color: red; */
      z-index: 100;
    }
   .skills {
    list-style-type: none;
    position: absolute;
    left: 5.93px;
    right: 26.67%;
    top: 175px;
    bottom: 77.83%;
    
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    /* background-color: red; */
    z-index: 100;
   } 
   .portfolio {
    list-style-type: none;
    position: absolute;
    left: 5.93px;
    right: 26.67%;
    top: 235px;
    bottom: 77.83%;
    
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    /* background-color: red; */
    z-index: 100;
   }
   .contacts {
    list-style-type: none;
      position: absolute;
      left: 6.93px;
      right: 26.67%;
      top: 300px;
      bottom: 77.83%;
      
      font-family: 'Gilroy-Bold';
      font-size: 34px;
      line-height: 42px;
      /* background-color: red; */
      z-index: 100;
   }
   /* меню бргера */
  .menu {
      display: flex;
      position: fixed;  
      top: 0px;
      right: 0px;
      /* left: 500px; */
      display: none; 
      width: 50%;
      height: 100vh;
      padding: 20px 15px;
      flex-direction: column;
      background-color: black;
      opacity: 0.8; 
      z-index: 90;
      line-height:normal;
      transition: 0.9s all;
    }
    .menu_item {
      padding-right: 0;
      border: none;
      flex-direction: column;
      z-index: 100;
      /* top: -1011ex; */
    }
    .menu link {
     font-size: 20px;
     width: 100%;
    }
  
    #men{
      background-color: rgba(0,1,0 .8) ;
    }
    .menu_active {
      display: block;
      /* left: 276px; */
    }
    .burgerPassivSpan{
      background-color:black;
    }
    .burgerActiveSpan {
      background-color: white;
    }
    .hamburger span {
      display: block;
      height: 2px;
      width: 20px;
      margin-top: 2px; 
    }
    .burgerActive {
      display: block;
    }
  .span1 {
    transform: rotate(45deg);
    margin-bottom: -4px;
  }
  .span2 {
    transform: rotate(-45deg);
    margin-bottom: -2px;
  }
    /* comments */
  .hr{
    display: none;
  }
    .nameDenis {
      position: absolute;
      left: -500px;
      right: 60px;
      top: 1.47px;
      bottom: 96.14px;
      
      font-family: 'Gilroy-Bold';
      font-size: 47px;
      line-height: 58px;
  
      /* border:3px solid #245488; */
      margin:20px auto;
      padding:10px;
      width:170px;
  
      word-break:break-all;
      color: #000000;  }
  
  .photoDen {
  display: none;  
  }
  .photoDenmini {
    
    position: absolute;
    width: 316.5px;
    height: 478px;
    left: 29px;
    top: 275px;
    display: block;
  
    /* background: url(valentin-salja-1058467-unsplash.jpg); */
  }
  .uiux {
    left: 19px;
    top: 4.37%;
  }
  }
  
  
  
  
  
  @media screen and (min-width: 5576px) {
  body {
    position: absolute;
    width: 576px;
    height: 4435px;
    left: 0px;
    top: 0px;
  
    background: #33b60e;
  }
  
  
    /* home */
    .nameDenis {
      left: -110px;
    }
    .menu {
      width: 57%;
    }
    .uiux {
      left: 29px;
      top: 4%;
    }
    .photoDenmini{
      width: 270px;
      height: 478px;
      left: 29px;
      top: 275px;
    }
    .hr {
      display: block;
      left: -444px;
      position: relative;
      display: block;
      top: 220px;
  
    }
  
  
    .aboutMas {
      position: relative;
      left: 122px;
      top: 30px;
      color: #000000;
  }
   .paragrefAll {
      position: relative;
      left: -467px;
      width: 316px;
      height: 261px;
      top: -102px;
      padding: 1px 18px 7px 1px;
      margin: 5px -10px -167px 5px;
  
    }
    .hed2{
      position: relative;
      left: -520px;
      top: 30px;
    }
  
    /* skills  */
  .skilsPop {
    
  position: absolute;
  width: 375px;
  height: 2000px;;
  left: 0px;
  top: 1200px;
  
  background: #FFFFFF
  }
  .skilprog {
    left: 16px;
    top: 5%;
  }
  
  .photo {
    position: absolute;
    top: 8%;
    bottom: 65.3%;
    margin: -20px 2px 276px 1px;
    /* left: -348px; */
  }
  .adobePhotoshCollA{
    left: -147px;
    top: 200px;
  }
  
  .AdobeIlluCollA {
    left: -347px;
    top: 460px;
  } 
  
  
  .adAterEffCollA {
    left: -516px;
    top: 715px;
  }
  .figmaCollA {
    left: -683px;
    top: 970px;
  }
  
  /* .portfolio */
  .portfolioBloc {
    width: 375px;
    top: 2420px;
    height: 973px;
  }
  .portfolioTitle{
    left: 120px;
  }
  
  .photoAll {
    position: absolute;
    width: 316px;
    height: 171px;
    left: 29px;
    /* top: 2937px; */
    margin: 1px 1px 1px -11px;
  }
  
  .photoTopSliz {
    top: 130px;
  }
  
  .titleHomePage {
    top: 345px;
  }
  .titlePhotoPart{
    left: -23px;
    right: -6.9%;
  }
  
  .photoTopReebokSt{
    margin-top: -385px;
  }
  
  .titlleReebok {
    top: 615px;
  } 
  
  .photoBraun {
    margin-top: -716px;
  }
  .titlReebBraun {
    top: 886px;
  }
  /* contacts */
  
  footer {
    width: 375px;
    height: 40px;
  }
  
  .contactTitle{
    left: 517px;
  }
  #contacts{
    left: -528px;
    position: relative;
    top: -425px;
  }
  .contactP {
    left: 592px;
  }
  .contactPe {
    left: 637px;
  }
  .buttonSub{
    position: relative;
    left: 77px;
    top: -290px;
  }
  
  .pupert{
    left: 10px;
    top: -174px;
  }
  .chekBksMini{
    position: absolute;
    left: -72px;
    right: -200.49px;
    top: 255px;
    /* bottom: 0px; */
    font-family: 'Gilroy-Bold';
    font-size: 29px;
    line-height: 20px;
    color: #828282;
    transform: rotate(270deg); 
    display: block;
  }
  
  
  }
  
  
  
  
  
  
  
  
  
  
  /* mini */
  @media screen and (min-width: 3350px) {
    body {
      position: absolute;
      width: 375px;
      height: 3809px;
      left: 0px;
      top: 0px;
  
      background: #FFFFFF;
    }
    /* home */
    .nameDenis {
      left: -110px;
    }
    .menu {
      width: 57%;
    }
    .uiux {
      left: 29px;
      top: 4%;
    }
    .photoDenmini{
      width: 270px;
      height: 478px;
      left: 29px;
      top: 275px;
    }
    .hr {
      display: block;
      left: -444px;
      position: relative;
      display: block;
      top: 220px;
  
    }
  
    /* about me */
    .olenPup {
      
      position: absolute;
      width: 375px;
      height: 491px;
      left: 0px;
      top: 836px;
  
      background: #F6F6F6;
    }
    .aboutMas {
      position: relative;
      left: 122px;
      top: 30px;
      color: #000000;
  }
   .paragrefAll {
      position: relative;
      left: -467px;
      width: 316px;
      height: 261px;
      top: -102px;
      padding: 1px 18px 7px 1px;
      margin: 5px -10px -167px 5px;
  
    }
    .hed2{
      position: relative;
      left: -520px;
      top: 30px;
    }
  
    /* skills  */
  .skilsPop {
    
  position: absolute;
  width: 375px;
  height: 2000px;;
  left: 0px;
  top: 1200px;
  
  background: #FFFFFF
  }
  .skilprog {
    left: 16px;
    top: 5%;
  }
  
  .photo {
    position: absolute;
    top: 8%;
    bottom: 65.3%;
    margin: -20px 2px 276px 1px;
    /* left: -348px; */
  }
  .adobePhotoshCollA{
    left: -147px;
    top: 200px;
  }
  
  .AdobeIlluCollA {
    left: -347px;
    top: 460px;
  } 
  
  
  .adAterEffCollA {
    left: -516px;
    top: 715px;
  }
  .figmaCollA {
    left: -683px;
    top: 970px;
  }
  
  /* .portfolio */
  .portfolioBloc {
    width: 375px;
    top: 2420px;
    height: 973px;
  }
  .portfolioTitle{
    left: 120px;
  }
  
  .photoAll {
    position: absolute;
    width: 316px;
    height: 171px;
    left: 29px;
    /* top: 2937px; */
    margin: 1px 1px 1px -11px;
  }
  
  .photoTopSliz {
    top: 130px;
  }
  
  .titleHomePage {
    top: 345px;
  }
  .titlePhotoPart{
    left: -23px;
    right: -6.9%;
  }
  
  .photoTopReebokSt{
    margin-top: -385px;
  }
  
  .titlleReebok {
    top: 615px;
  } 
  
  .photoBraun {
    margin-top: -716px;
  }
  .titlReebBraun {
    top: 886px;
  }
  /* contacts */
  
  footer {
    width: 375px;
    height: 40px;
  }
  
  .contactTitle{
    left: 517px;
  }
  #contacts{
    left: -528px;
    position: relative;
    top: -425px;
  }
  .contactP {
    left: 592px;
  }
  .contactPe {
    left: 637px;
  }
  .buttonSub{
    position: relative;
    left: 77px;
    top: -290px;
  }
  
  .pupert{
    left: 10px;
    top: -174px;
  }
  .chekBksMini{
    position: absolute;
    left: -72px;
    right: -200.49px;
    top: 255px;
    /* bottom: 0px; */
    font-family: 'Gilroy-Bold';
    font-size: 29px;
    line-height: 20px;
    color: #828282;
    transform: rotate(270deg); 
    display: block;
  }
  }
  